<div class="mt-6 mb-4">
  <p-selectbutton [(ngModel)]="movementType" [options]="options" optionLabel="label" optionValue="value" size="large"
    fluid (onChange)="onMovementTypeChange($event)" />
</div>
<form [formGroup]="inventoryMovementForm" (ngSubmit)="onSubmitMovement()" class="grid gap-4">
  <div class="mb-4">
    <p-floatlabel>
      <p-select id="productId" formControlName="productId" [options]="products()" [invalid]="isInvalid('productId')"
        [filter]="true" optionLabel="name" optionValue="id" placeholder="Select a Product" fluid>
        <ng-template let-product #item>
          <div class="flex items-center gap-2">
            <i class="pi pi-warehouse" style="color: var(--primary-color)"></i>
            <span>{{ product.name }} - </span>
            <span>Stock: {{ product.stock }}</span>
          </div>
        </ng-template>
      </p-select>
    </p-floatlabel>
    @if (isInvalid('productId')) {
    <p-message styleClass="mt-2" severity="error" size="small" variant="simple">Product field is required.</p-message>
    }
  </div>

  <div class="mb-4">
    <p-floatlabel>
      <p-inputnumber id="quantity" fluid formControlName="quantity" mode="decimal" [showButtons]="true"
        inputId="quantity-minmax-buttons" [min]="1" [step]="5" />
      <label for="quantity">Quantity</label>
    </p-floatlabel>
    @if (isInvalid('quantity')) {
    <p-message styleClass="mt-2" severity="error" size="small" variant="simple">
      Quantity field must be minimum 1.
    </p-message>
    }
  </div>
  @if (movementType === 'IN') {
  <div class="mb-4">
    <p-floatlabel>
      <p-inputnumber id="purchasePrice" fluid formControlName="purchasePrice" mode="decimal" prefix="$ "
        [showButtons]="true" [step]="500" inputId="purchase-price-buttons" [min]="1" />
      <label for="purchasePrice">Purchase Price</label>
    </p-floatlabel>
    @if (isInvalid('purchasePrice')) {
    <p-message styleClass="mt-2" severity="error" size="small" variant="simple">
      Purchase price field must be minimum 100 and maximum 300.
    </p-message>
    }
  </div>

  <div class="mb-4">
    <p-floatlabel>
      <p-inputnumber id="profitMarginPercentage" fluid formControlName="profitMarginPercentage" mode="decimal"
        suffix=" %" [showButtons]="true" [step]="10" inputId="profit-margin-percentage-minmax-buttons" [min]="100"
        [max]="300" />
      <label for="profitMarginPercentage">Profit Margin Percentage (100-300%)</label>
    </p-floatlabel>
    @if (isInvalid('profitMarginPercentage')) {
    <p-message styleClass="mt-2" severity="error" size="small" variant="simple">
      Profit margin percentage field must be minimum 100 and maximum 300.
    </p-message>
    }
  </div>

  <div class="mb-4">
    <p-floatlabel>
      <p-inputnumber id="salePrice" fluid formControlName="salePrice" mode="decimal" prefix="$ "
        inputId="sale-price-minmax-buttons" [min]="1" />
      <label for="salePrice">Sale Price</label>
    </p-floatlabel>
    @if (isInvalid('salePrice')) {
    <p-message styleClass="mt-2" severity="error" size="small" variant="simple">
      Sale price field must be minimum 1.
    </p-message>
    }
  </div>

  <div class="mb-4">
    <p-floatlabel>
      <p-select id="supplierId" formControlName="supplierId" [options]="supplierStore.suppliers()"
        [invalid]="isInvalid('supplierId')" optionLabel="name" optionValue="id" placeholder="Select a Supplier"
        [loading]="supplierStore.loading()" fluid>
        <ng-template let-supplier #item>
          <div class="flex items-center gap-2">
            <i class="pi pi-store" style="color: var(--primary-color)"></i>
            <span>{{ supplier.name }}</span>
          </div>
        </ng-template>
      </p-select>
    </p-floatlabel>
    @if (isInvalid('supplierId')) {
    <p-message styleClass="mt-2" severity="error" size="small" variant="simple">Product field is required.</p-message>
    }
  </div>
  } @else {
  <div class="mb-4">
    <p-floatlabel>
      <p-inputnumber id="discountPercent" fluid formControlName="discountPercent" mode="decimal" suffix=" %"
        [showButtons]="true" [step]="10" inputId="discount-percent-minmax-buttons" [min]="0" [max]="100" />
      <label for="discountPercent">Discount Percentage (0-100%)</label>
    </p-floatlabel>
    @if (isInvalid('discountPercent')) {
    <p-message styleClass="mt-2" severity="error" size="small" variant="simple">
      Discount percentage field must be minimum 0 and maximum 100.
    </p-message>
    }
  </div>
  }

  <div class="flex justify-end gap-2">
    @if (this.isCalledFromDialog()) {
    <p-button icon="pi pi-times" type="button" label="Cancel" (onClick)="onCancel()" styleClass="p-button-text" />
    }
    <p-button icon="pi pi-plus" type="submit" label="Create" [disabled]="!inventoryMovementForm.valid"
      [loading]="createInventoryMovementStore.loading()" />
  </div>
</form>