<p-table [value]="inventoryRecords()" [rows]="10" [rowHover]="true" [showCurrentPageReport]="true" [scrollable]="true"
  [size]="'large'">
  <ng-template #header>
    <tr>
      <th>Inventory Record ID</th>
      <th>Product Name</th>
      <th>Stock</th>
      <th>Average Cost</th>
      <th>Last Update</th>
      <th>Actions</th>
    </tr>
  </ng-template>
  <ng-template #body let-record>
    <tr>
      <td>{{ record.id | truncate: 8 : ' ' }}</td>
      <td>{{ record.product.name }}</td>
      <td>{{ record.stock }}</td>
      <td>{{ record.averageCost | currency }}</td>
      <td>{{ record.updatedAt | date: 'mediumDate' }}</td>
      <td>
        <p-button (onClick)="viewProductMovements.emit(record.product.id)" icon="pi pi-chart-bar" severity="success"
          aria-label="View Movements" pTooltip="View Inventory Movements" size="small" />
    </tr>
  </ng-template>
</p-table>