<p-table
  [value]="productListResponse().products"
  [rows]="productListResponse().limit"
  [totalRecords]="productListResponse().totalRecords"
  [lazy]="true"
  (onLazyLoad)="onLazyLoad($event)"
  [first]="productListResponse().offset"
  [paginator]="true"
  [paginatorPosition]="'bottom'"
  [rowsPerPageOptions]="[10, 20, 50]"
  [rowHover]="true"
  [showCurrentPageReport]="true"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} products"
  [scrollable]="true"
  scrollHeight="calc(100vh - 420px)"
  [size]="'large'"
>
  <ng-template #caption>
    <div class="flex items-center justify-between flex-wrap gap-4">
      <h2 class="text-xl font-bold m-0">Inventory Products</h2>
      <p-iconfield>
        @let term = productListResponse().term ?? '';
        <p-inputicon class="pi pi-search" />
        <input
          pInputText
          type="text"
          (input)="onSearch($event)"
          placeholder="Search by name, SKU or ID..."
          class="w-80"
          [value]="term"
        />
        @if (term) {
          <p-inputicon class="pi pi-times cursor-pointer" (click)="onClearSearch()" />
        }
      </p-iconfield>
    </div>
  </ng-template>
  <ng-template #header>
    <tr>
      <th>Product SKU</th>
      <th>Name</th>
      <th>Categories</th>
      <th>Sale Price</th>
      <th>Purchase Price</th>
      <th>Active</th>
      <th>Last Update</th>
      <th>Actions</th>
    </tr>
  </ng-template>
  <ng-template #body let-product>
    <tr>
      <td>{{ product.sku }}</td>
      <td>{{ product.name }}</td>
      <td>
        <div class="flex flex-wrap gap-2">
          @let mainCategory = product?.mainCategory;
          @let secondaryCategory = product?.secondaryCategory;
          @if (mainCategory) {
            <p-tag icon="pi pi-tag" [value]="mainCategory.name" />
          }
          @if (secondaryCategory) {
            <p-tag icon="pi pi-tag" severity="secondary" [value]="secondaryCategory.name" />
          }
        </div>
      </td>
      <td>{{ product.salePrice | currency }}</td>
      <td>{{ product.currentPurchasePrice | currency }}</td>
      <td>
        @let tooltipMessage = product.isActive ? 'Active' : 'Inactive';
        <i
          [pTooltip]="tooltipMessage"
          class="pi"
          [ngClass]="{
            'text-green-500 pi-check-circle': product.isActive,
            'text-red-500 pi-times-circle': !product.isActive,
          }"
        >
        </i>
      </td>
      <td>{{ product.updatedAt | date: 'mediumDate' }}</td>
      <td>
        <div class="flex gap-2">
          <p-button
            (onClick)="updateProduct.emit(product.id)"
            icon="pi pi-pencil"
            severity="warn"
            aria-label="Update product"
            size="small"
            pTooltip="Update product"
          />
          <p-button
            (onClick)="onDelete(product.id, $event)"
            icon="pi pi-trash"
            severity="danger"
            aria-label="Delete product"
            size="small"
            pTooltip="Delete product"
          />
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>
