<div class="mb-4">
  <p-timeline [value]="inventoryMovementsResponse().movements" align="alternate" class="customized-timeline">
    <ng-template #marker let-event>
      <div class="flex items-center justify-center text-white rounded-full z-10 shadow-sm my-2">
        <p-button [icon]="event.type === 'IN' ? 'pi pi-cart-plus' : 'pi pi-cart-minus'" [rounded]="true"
          [severity]="event.type === 'IN' ? 'success' : 'danger'" [raised]="true" />
      </div>
    </ng-template>
    <ng-template #content let-event>
      <p-card>
        <div>
          <p class="italic">{{ (event?.createdAt | date: 'mediumDate') || '' }}</p>
          <p><strong>Quantity: </strong> {{ event?.quantity }}</p>
          <p-tag class="inline" icon="pi pi-check" severity="success" pTooltip="Purchase price"
            [value]="(event?.purchasePrice | currency) || ''" />
        </div>
      </p-card>
    </ng-template>
  </p-timeline>
</div>
<div class="flex justify-center">
  @let movementsSize = inventoryMovementsResponse().movements.length;
  @let totalRecords = inventoryMovementsResponse().totalRecords;
  @if (totalRecords > movementsSize) { <p-button label="Load more" [text]="true" /> }
</div>