<form [formGroup]="productForm" (ngSubmit)="onSubmit()" class="grid gap-4">
  <div class="mt-6 mb-4">
    <p-floatlabel>
      <!-- eslint-disable-next-line @angular-eslint/template/no-autofocus -->
      <input pInputText id="name" formControlName="name" type="text" class="w-full" autofocus autocomplete
        aria-describedby="name-help" />
      <label for="name">Name</label>
    </p-floatlabel>
  </div>

  <div class="mt-4 mb-4">
    <p-floatlabel>
      <textarea id="description" pTextarea formControlName="description" [rows]="5" style="resize: none" class="w-full"
        aria-describedby="description-help"></textarea>
      <label for="description">Description</label>
    </p-floatlabel>
    <small id="description-help">Enter a description for you product. It is optional, but please, do it!</small>
  </div>

  <div class="grid grid-cols-2 gap-4 mt-4 mb-4">
    <p-floatlabel>
      <label for="mainCategory">Main Category</label>
      <!-- <input pInputText id="mainCategory" formControlName="mainCategory" type="text" class="w-full" /> -->
      <p-select class="w-full" id="mainCategory" formControlName="mainCategory" [options]="mainCategories()"
        optionLabel="name" class="w-full" placeholder="Select a Main Category" />
    </p-floatlabel>

    <p-floatlabel>
      <label for="secondaryCategory">Secondary Category</label>
      <p-select class="w-full" id="secondaryCategory" formControlName="secondaryCategory"
        [options]="secondaryCategories()" optionLabel="name" class="w-full" placeholder="Select a Secondary Category" />
    </p-floatlabel>
  </div>

  <div class="grid grid-cols-2 gap-4 mt-4 mb-4">
    <div>
      <label for="minStock">Minimum Stock</label>
      <p-inputnumber id="minStock" class="w-full" inputStyleClass="w-full" formControlName="minStock" [min]="1"
        [showButtons]="true" />
    </div>

    <div class="flex justify-start items-center">
      <p-checkbox id="isActive" formControlName="isActive" [binary]="true" />
      <label for="isActive" class="ml-2">Active</label>
    </div>
  </div>


  <div class="flex justify-end gap-2 mt-4">
    <p-button icon="pi pi-times" type="button" label="Cancel" (onClick)="onCancel()" styleClass="p-button-text" />
    <p-button icon="pi pi-plus" type="submit" label="Create" [disabled]="!productForm.valid" />
  </div>
</form>