/* You can add global styles to this file, and also import other style files */

/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Tailwind */
@import "tailwindcss";
/* Prime Icons */
@import 'primeicons/primeicons.css';
/* PrimeNG Plugin */
@import "tailwindcss-primeui";
/* Normalize */
@import "./assets/styles/normalize.css";
/* PrimeNG Theme Fonts - Apply globally */
:root {
  --font-family: 'Poppins', sans-serif;
}

html, body {
  font-family: var(--font-family);
}

body {
  /* Use the variable you defined in the preset */
  background-color: var(--p-surface-ground);

  /* Optional: Ensure text color is also bound to the theme */
  color: var(--p-text-color);
}

.page-content {
  height: calc(100dvh - 320px);
  overflow: auto;
}
